* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 320px;
    height: 80px;
    margin: 10px 25px 0 25px;
    z-index: 200;
}

.menu {
    margin: 0 2% 0 2%;
    text-align: center;
}

.menu-1 {
    color: rgb(117, 117, 115);
    font-size: larger;
    padding-right: 30px;
    font-weight: bold;
    transform: scale(1);
}
.menu-1:hover,.buy:hover{
    color:	#D87093;
    transform: scale(1.2);
}


.buy {
    width: 35px;
    height: 35px;
}

.between {
    display: flex;
    justify-content: space-around;
    background-color: #ffcec3e0;
    flex-direction: column;
    padding-bottom: 10px;
}

footer {
    font-weight: bold;
    text-align: center;
    background-color: #ffcec3;
    padding: 30px 0 30px 0px;
    color: #FFFFFF;
    
}

/*登入*/
.signform {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    top: 20%;
    left: 38%;
    width: 500px;
    height: 400px;
    border-radius: 1em;
    text-align: center;
    z-index: 999;
}

.signclose {
    cursor: pointer;
    float: right;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.signinput {
    text-align: center;
    border-radius: 5cm;
    width: 280px;
    height: 45px;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 25px;

}

.signinput::-webkit-input-placeholder {
    font-size: 25px;
}

.user {
    position: relative;
    margin-top: 80px;
}

.pwd {
    position: relative;
    margin-top: 20px;
}

.postdiv {
    position: relative;
    margin-top: 20px;
}

.submit {
    cursor: pointer;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 0.4em;
    width: 280px;
    height: 45px;
    background-color: #d3c4ff;
    margin-top: 30px;
}

.postdiv h4 {
    margin-top: 20px;
    color: #a3a2a3;
}

.postdiv h4:hover {
    color: black;
}