.member-1{
    background-color: 	#FFF5EE;
    margin: 0 12% 5% 12%;
    border-radius: 1cm;
}
.member-1 form{
    margin: 0 5% 5% 5%;
    display: flex;
    justify-content: center;
}
.person-1 input ,.password-2 ,.password-3 {
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 40px;
    font-size: 16px;
    letter-spacing: 0.5em;
    display: flex;
    width: 400px;
    background-color: 	#FFF5EE;
    
  
}
.member-1 h2,.car-1 h2{
    text-align: center;
    margin: 5% 0 2% 0;
    padding-top: 20px;
    font-family: 標楷體;
    font-size: 30px;
}



.go-1 ul{
    margin: 1% -1%;
    position: fixed;
    background-color: gray;
    border-radius: 0.2cm;
    padding: 1%;
}
.go-1 li a{
  color: white;
  font-size: 25px;
  font-family: 標楷體;
}
.go-1 li{
  padding: 10px;
}





.btn, .btn-2{
    border: none; 
    padding: 15px 20px;
    font-size: 17px;
    float: right;
    background-color: gray;
    color: white;
    border-radius: .2cm;

}
.car-1{
    background-color: 	#FFF5EE;
    margin: 0 12% 5% 12%;
    border-radius: 1cm;
}
.car-1 th ,.car-1 td{
    width: 400px;
    text-align: center;
    font-size: 22px;
    padding: 10px;

}

.btn-2{
  margin: 1% 6%;
}














#tab1{
    height: 550px;
  }
  #tab2{
    height: 550px;
  }
  #tab3{
    height: 550px;
  }
  #tab4{
    height: 550px;
  }









/*數字增減*/
.btn-numbox{
  padding-left: 56px;
}
.count{
  
  display: inline-block;
  vertical-align: middle;
}
ul,li {
    list-style: none;
  }
  .btn-numbox .count .num-jian,
  .input-num,
  .num-jia {
    display: inline-block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 19px;
    color: black;
    border: 1px solid #e6e6e6;
  }
  .btn-numbox .count .input-num {
    width: 58px;
    height: 29px;
  }
  .num-jian,.num-jia{
      background-color:#DDDDDD	;
  }
  /*數字增減*/
