.bg{
    background-image: url(../img/bg1.jpg);
    opacity: 0.7;
    background-size: 100%;    
    height: 100vh;
}
 h2{
    margin: 15px;
    color: #f58d76;
  }
  #username, #password, #fullname, #comfirm_password,#username2, #password2,#email{
    width: 250px;
    height: 40px;
    margin: 15px;
    color: black;
    border-radius: .2em;
  }
  
  .sign{
    margin: 20px;
    color: #636262;
  }
  
  .sign:hover{
    color: black;
  }
  
  #container1, #container2{
    padding: 10px;
    width: 35%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border-top: 20px solid #f58d76;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 240px;
    text-align:center;  
  }
  
  .system_name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
  }
  
  .submit{
    color: white;  
    background: black;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
  }
  
  .submit:hover{
    background: 	#B088FF;
  }
  
  #container2{
    visibility: hidden;   /*剛開始消失*/
  }
  
  input{
    padding: 10px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
  }

